<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <h1>Student Details</h1>
    <table border="10px" align="center" width="500px" height="200px">
        <thead>
            <tr>
            <th>SID</th>
            <th>SNAME</th>
            <th>AGE</th>
            <th colspan="2">COURSES</th>
            </tr>
        </thead>
        <tbody align="Center">
            <tr>
            <td>100</td>
            <td>Aditya</td>
            <td>23</td>
            <td rowspan="3">Python</td>
            <td>HTML</td>
            </tr>
            <tr>
            <td>101</td>
            <td>Dharma</td>
            <td>24</td>
            <td>SQL</td>
            </tr>
            <tr>
                <td>102</td>
                <td>Shella</td>
                <td>25</td>
                <td>Java</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Laila</td>
                    <td>28</td>
                    <td>CSS</td>
                    <td rowspan="2">Python</td>
                    </tr>
                    <tr>
                        <td>104</td>
                        <td>Raja</td>
                        <td>30</td>
                        <td>Java</td>
                        </tr>
        </tbody>
    </table>
</body>
</html>