<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display AccessRecord</h1>
        <table border="3px">
            <tr>
                <th>pk/id</th>
                <th>name</th>
                <th>author</th>
                <th>date</th>
            </tr>
            {% for ao in accessrecord %}
                <tr>
                    <td>{{ao.pk}}</td>
                    <td>{{ao.name}}</td>
                    <td>{{ao.author}}</td>
                    <td>{{ao.date}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>