{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Python Developer</h1>
        <img src="{% static 'images/Python Wallpaper4.jpg' %}" alt="Image not found" height="100%",width="100%">
        <img src="{% static 'images/Python Wallpaper8.png' %}" alt="Image Not Found" height="100%", width="100%">
        <link rel="stylesheet" href="{% static 'css/c1.css' %}">
        <link rel="stylesheet" href="{% static 'css/c2.css' %}">
    </center>
</body>
</html>