<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display Company</h1>
        <table border="3px">
            <tr>
                <th>Company Names</th>
            </tr>
            {% for co in companyes %}
            <tr>
                <td>{{ co.company_name }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>