<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Online Job Application Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- Online Job Application form -->
    <h1>Online Job Application Form</h1>

    <form>

        <!-- Personal Information -->
        <fieldset>
            <legend>Personal Information</legend>
            <table>
                <tbody><tr>
                    <td>First Name</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>Middle Name</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>Last Name</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>Father's Name</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>Mother's Name</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td>Current Address</td>
                    <td>
                        <textarea rows="4" cols="20"></textarea>
                    </td>
                    <td>Permanent Address</td>
                    <td>
                        <textarea rows="4" cols="20"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Phone Numbers</td>
                </tr>
                <tr>
                    <td>Landline Number</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>Mobile Number</td>
                    <td>
                        <input type="number">
                    </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>
                        <input type="date">
                    </td>
                    <td>Place Of Birth</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Select Gender</td>
                    <td>
                        <input type="radio" value="male" name="gender"> Male
                    </td>
                    <td>
                        <input type="radio" value="female" name="gender"> Female
                    </td>
                </tr>
                <tr>
                    <td>Highest Qualification</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>Year of Passing</td>
                    <td>
                        <input type="month">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Languages Known</td>
                    <td>
                        <input type="checkbox" value="telugu"> Telugu
                    </td>
                    <td>
                        <input type="checkbox" value="hindi"> Hindi
                    </td>
                    <td>
                        <input type="checkbox" value="english"> English
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Select Your Hobbies</td>
                    <td>
                        <input type="checkbox" value="eating"> Eating
                    </td>
                    <td>
                        <input type="checkbox" value="coding"> Coding
                    </td>
                    <td>
                        <input type="checkbox" value="sleeping"> Sleeping
                    </td>
                </tr>
                <tr>
                    <td>About Yourself</td>
                    <td colspan="4">
                        <textarea rows="4" cols="80"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>Nationality</td>
                    <td>
                        <select>
                            <option>American</option>
                            <option>Indian</option>
                            <option>Others</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Aadhar Card Number</td>
                    <td>
                        <input type="number">
                    </td>
                    <td>PANCARD Number</td>
                    <td>
                        <input type="text">
                    </td>
                </tr>
            </tbody></table>
        </fieldset>

        <!-- Education Details -->
        <fieldset>
            <legend>Education Details</legend>
            <table>
                <tbody><tr>
                    <th>SNO</th>
                    <th>Qualification</th>
                    <th>Institute / University</th>
                    <th>Year of Passing</th>
                    <th>Marks (%)</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="number">
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="number">
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="text">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="number">
                    </td>
                </tr>
            </tbody></table>
        </fieldset>

        <!-- Work Experience -->
        <fieldset>
            <legend>Work Experience</legend>
            <table>
                <tbody><tr>
                    <th>SNO</th>
                    <th>Company</th>
                    <th>Work / Roles</th>
                    <th>From Date</th>
                    <th>To Date</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <textarea rows="5" cols="20"></textarea>
                    </td>
                    <td>
                        <textarea rows="5" cols="20"></textarea>
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <textarea rows="5" cols="20"></textarea>
                    </td>
                    <td>
                        <textarea rows="5" cols="20"></textarea>
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        <textarea rows="5" cols="20"></textarea>
                    </td>
                    <td>
                        <textarea rows="5" cols="20"></textarea>
                    </td>
                    <td>
                        <input type="month">
                    </td>
                    <td>
                        <input type="month">
                    </td>
                </tr>
            </tbody></table>
        </fieldset>

        <!-- Other Details -->
        <fieldset>
            <legend>Other Details</legend>
            <table>
                <tbody><tr>
                    <td>JobType</td>
                    <td>
                        <input type="radio" name="jobtype" value="permanent"> Permanent
                    </td>
                    <td>
                        <input type="radio" name="jobtype" value="contract"> Contract
                    </td>
                    <td>
                        <input type="radio" name="jobtype" value="other"> Other
                    </td>
                </tr>
                <tr>
                    <td>Date Of Joining</td>
                    <td>
                        <input type="date">
                    </td>
                    <td>Time Of Joining</td>
                    <td>
                        <input type="time">
                    </td>
                </tr>
                <tr>
                    <td>Perferred Job Location</td>
                    <td>
                        <input type="radio" name="location" value="hyd"> Hyderabad
                    </td>
                    <td>
                        <input type="radio" name="location" value="bang"> Bangalore
                    </td>
                    <td>
                        <input type="radio" name="location" value="other"> Other
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Willing to Relocate to Hyderabad ?</td>
                    <td>
                        <input type="radio" name="relocate" value="yes"> YES
                    </td>
                    <td>
                        <input type="radio" name="relocate" value="no"> NO
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="checkbox">
                        <span>Iam here declaring that all the above mentioned information is true as per my knowledge.</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Submit" class="button">
                    </td>
                    <td>
                        <input type="reset" value="Reset" class="button">
                    </td>
                    <td></td>
                </tr>
            </tbody></table>
        </fieldset>
    </form>
    


</body></html>