<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seminar Table</title>
</head>
<body>
    <h1>Seminar Details</h1>
    <table border="5px" align="left" 500px" height="200px">
        <thead>
            <tr>
                <th rowspan="3">Day</th><th colspan="4">Seminar</th>
            </tr>
            <tr>
                <th colspan="2">Scheduled</th>
                <th colspan="2" rowspan="2">Topic</th>
            </tr>
            <tr>
                <th>Begin</th>
                <th>End</th>
            </tr>
        </thead>
        <tbody align="center">
            <tr>
                <td rowspan="2">Monday</td><td rowspan="2">8:00am</td><td rowspan="2">5:00pm</td><td>Intoduction to XML</td>
            </tr>
            <tr>
                <td>Validity DTD and Relax NG</td>
            </tr>
            <tr>
                <td rowspan="3">Tuesday</td><td>8:00am</td><td>11:00am</td><td rowspan="2">Xpath</td>
            </tr>
            <tr>
                <td>11:00am</td>
                <td>2:00pm</td>
            </tr>
            <tr>
                <td>2:00pm</td>
                <td>5:00pm</td>
                <td>XSL Transformation</td>
            </tr>
            <tr>
                <td>Wednesday</td><td>8:00am</td><td>12:00pm</td><td>XSL Formating Object</td>
            </tr>
        </tbody>
    </table>
</body>
</html>