{% extends 'dummy.html' %}
{% block title %}
    <title>user-login Page</title>
{% endblock %}
{% block body_block %}
    <center>
        <h1>user-login Form</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="username">username:</label>
            <input type="text" name="username" id="username"><br><br>
            
            <label for="password">password:</label>
            <input type="password" name="password" id="password">
        <br><br>
        <input type="submit" value="user-login">
        
        </form>
    </center>
    {% endblock %}