<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Display AccessRecord</h1>
        <table border="3px">
            <tr>
                <th>PK</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            {% for AO in EQST %}
                <tr>
                    <td>{{AO.id}}</td>
                    <td>{{AO.name}}</td>
                    <td>{{AO.author}}</td>
                    <td>{{AO.date}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>