<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Select Multiple</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="tn">Topic Name</label>
            <select name="tn" id="tn" multiple>
                {% for to in LTO %}
                    <option value="{{to.topic_name}}">{{to.topic_name}}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="Select Multiple">
        </form>
    </center>
</body>
</html>